@import "tailwindcss";
/* CHERRY SCROLLBAR */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {

  background:
    linear-gradient(
      to bottom,
      rgba(255, 92, 207, 0.15),
      rgba(255, 92, 207, 0.45)
    );

  border-radius: 999px;

  box-shadow:
    0 0 20px rgba(255, 92, 207, 0.3);

}

::-webkit-scrollbar-thumb:hover {

  background:
    linear-gradient(
      to bottom,
      rgba(255, 92, 207, 0.3),
      rgba(255, 92, 207, 0.7)
    );

}

/* FIREFOX */

* {
  scrollbar-width: thin;
  scrollbar-color:
    rgba(255, 92, 207, 0.4)
    transparent;
}